{% extends 'layouts/blank.html' %}
{% load i18n %}

{% block content %}
{% trans "Edit" as edit %}
<div class="flex flex-col md:flex-row md:justify-end">
    <div class="w-full! md:w-72! lg:w-72! px-2 md:px-4 pt-2">
      {% include 'includes/settings_sidebar.html' with page='viewer_settings' %}
    </div>
    <div class="flex w-full justify-start items-center py-2 px-2 md:px-8">
        <div class="rounded-md w-full min-[1200px]:w-3xl! md:ml-10 min-[1600px]:ml-40! px-4 py-4 md:pb-8 border
                    bg-slate-100 dark:bg-slate-800 border-slate-300 dark:border-slate-700">
          <span class="text-2xl font-bold">{% trans 'Viewer Settings' %}</span>
            <div class="pt-4">
              <span class="text-lg font-bold">{% trans 'Inverted PDF Colors' %}</span>
            </div>
            <div class="flex justify-between text-slate-600 dark:text-slate-400">
                <div class="w-5/6">
                    <span id="pdf_inverted_mode">{{ user.profile.pdf_inverted_mode }}</span>
                </div>
                <div class="pr-0 md:pr-6">
                    <a id="pdf_inverted_mode_edit" class="cursor-pointer text-primary hover:text-secondary"
                        hx-get="{% url 'profile-setting-change' 'pdf_inverted_mode' %}"
                        hx-target="#pdf_inverted_mode"
                        hx-swap="innerHTML" >
                        {{ edit }}
                    </a>
                </div>
            </div>
            <div class="pt-2">
              <span class="text-lg font-bold">{% trans 'Keep Screen Awake' %}</span>
            </div>
            <div class="flex justify-between text-slate-600 dark:text-slate-400">
                <div class="w-5/6">
                    <span id="pdf_keep_screen_awake">{{ user.profile.pdf_keep_screen_awake }}</span>
                </div>
                <div class="pr-0 md:pr-6">
                    <a id="pdf_keep_screen_awake_edit" class="cursor-pointer text-primary hover:text-secondary"
                        hx-get="{% url 'profile-setting-change' 'pdf_keep_screen_awake' %}"
                        hx-target="#pdf_keep_screen_awake"
                        hx-swap="innerHTML" >
                        {{ edit }}
                    </a>
                </div>
            </div>
            <div class="pt-4">
              <span class="text-lg font-bold">{% trans 'Webhook URL' %}</span>
            </div>
            <div class="flex justify-between text-slate-600 dark:text-slate-400">
                <div class="w-5/6">
                    <span id="webhook_url">{{ user.profile.webhook_url|default:"" }}</span>
                </div>
                <div class="pr-0 md:pr-6">
                    <a id="webhook_url_edit" class="cursor-pointer text-primary hover:text-secondary"
                        hx-get="{% url 'profile-setting-change' 'webhook_url' %}"
                        hx-target="#webhook_url"
                        hx-swap="innerHTML" >
                        {{ edit }}
                    </a>
                </div>
            </div>
            <div class="pt-4">
              <span class="text-lg font-bold">{% trans 'Webhook API Key' %}</span>
            </div>
            <div class="flex justify-between text-slate-600 dark:text-slate-400">
                <div class="w-5/6">
                    <span id="webhook_apikey">{{ user.profile.webhook_apikey|default:"" }}</span>
                </div>
                <div class="pr-0 md:pr-6">
                    <a id="webhook_apikey_edit" class="cursor-pointer text-primary hover:text-secondary"
                        hx-get="{% url 'profile-setting-change' 'webhook_apikey' %}"
                        hx-target="#webhook_apikey"
                        hx-swap="innerHTML" >
                        {{ edit }}
                    </a>
                </div>
            </div>
            <div class="pt-4">
              <span class="text-lg font-bold">{% trans 'Webhook User ID' %}</span>
            </div>
            <div class="flex justify-between text-slate-600 dark:text-slate-400">
                <div class="w-5/6">
                    <span id="webhook_userid">{{ user.profile.webhook_userid|default:"" }}</span>
                </div>
                <div class="pr-0 md:pr-6">
                    <a id="webhook_userid_edit" class="cursor-pointer text-primary hover:text-secondary"
                        hx-get="{% url 'profile-setting-change' 'webhook_userid' %}"
                        hx-target="#webhook_userid"
                        hx-swap="innerHTML" >
                        {{ edit }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
